#landing-page.index

  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "products"} Browse all Products
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Categories
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "categories/1"} Burger
              %li.divider{:role => "separator"}
              %li
                %a{:href => "categories/2"} Soup
              %li.divider{:role => "separator"}
              %li
                %a{:href => "categories/3"} Pasta
  #index-background
    .container-fluid
      .center
        %h1 Welcome!!
        - if !user_signed_in?
          %p Sign in or create an account. 
          = link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary button is-warning"
        - else
          %h2 #{current_user.last_name}

    .container-fluid
      .pull-right
        %h1 Why choose our products?
        %br/
        .text-media
          %h2 Good!
          %h2 Fresh!
          %h2 Tasty!
          %h2 Trendy!

  %br/
  %section.carousel-fixed-height
  #carousel-fixed-height.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li{"data-slide-to" => "0", "data-target" => "#carousel-fixed-height"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel-fixed-height"}
      %li.active{"data-slide-to" => "2", "data-target" => "#carousel-fixed-height"}
    .carousel-inner{:role => "listbox"}
      .item
        #image1.slider-size
          .carousel-caption.pull-left
            %h3 Best ingredients
            %p Fresh & carefully selected
      .item
        #image2.slider-size
          .carousel-caption.pull-left
            %h3 Trending
            %p Instagram page coming soon
      .item.active
        #image3.slider-size
          .carousel-caption
            %h3 Made with love
            %p We use 0 precooked products
    %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-fixed-height", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-fixed-height", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %span.sr-only Next
