- parent_region ||= params[:parent_region]
- country = Carmen::Country.coded(parent_region)
- if country.nil?
  %em Please select a country above
- elsif country.subregions?
  = subregion_select(:order, :billing_region, parent_region)
- else
  = text_field(:order, :billing_region)

:javascript
  $('#order_billing_region').addClass("form-control")