-# $("select#order_billing_country").html("#{j(options_for_select(@subregions))}");
-# $("#state").html("#{j(options_for_select(@subregions))}");
-# $(".subregion").removeAttr("disabled");
-# - if @subregions.size == 1
-#   $("select#order_billing_country").closest("div").addClass("hidden");
-# - else 
-#   $("select#order_billing_country").closest("div").removeClass("hidden");