.card 
    position: relative
    z-index: 2
    margin-bottom: 10px
    min-height: 312px
    max-height: 313px
    .card-text
        font-size: 0.8em
    
    .card-title 
        color: #007b5e !important
    
    .btn-primary 
        position: absolute
        bottom: 0
        right: 0
        left: 0
        margin-right: auto
        margin-left: auto

.btn-primary 
    background-color: #007b5e
    h5
        color: white

.card .card-body img
    min-width: 120px
    min-height: 120px
    width: 120px
    height: 120px
    border-radius: 50%