
.card {
    border: none;
    background: #ffffff;
    border-radius: 20px;
    .card-body{
        .card-text{
            font-size: 0.8em;
        }
    }
}
.card{
    .btn-primary {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    
    }    
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.center.jumbotron{
    a:visited {
        color: #fff !important;
      }
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
    h5{
        color: white;
    }
}

.card {
    min-height: 312px;
    max-height: 313px;
}

.card a {
    font-size: 18px;
    color: #007b5e !important;
}

.card .card-title {
    color: #007b5e !important;
}

.card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;

}

.card {
    position: relative;
    z-index: 2;
    margin-bottom: 10px;
}
