.checkout-buttons
    .pull-right
        margin-left: 20px
.glyphicon
    margin-left: 10px
    &:hover
        text-decoration: none
.glyphicon-trash
    color: #f00

.plus-minus
    max-width: 3.5em
.trash-can
    max-width: 2em

.order-item-details
    margin: auto !important
    height: 50% !important
    padding: 10px !important

.total
    float: right
    margin-right: 10px

.total-details
    margin: auto !important
    padding: 0px 10px !important
