@import "bootstrap-sprockets";
@import "bootstrap";
@import "card";
/* mixins, variables, etc. */

$gray-medium-light: #777;

$davys-grey:#5b5b5b;
$nyanza:#e9fae3;
$tea-green:#d7f2ba;
$dark-jungle-green:#1f2421;
$nickel:#74776b;

$black-leather-jacket:#223127;
$blanched-almond:#FFE8D1;
$rackley:#568EA3;
$sea-serpent:#68C3D4;
$pastel-brown:#826251;
/* universal */

body {
  padding-top: 90px;
  background-color: $blanched-almond;
  
  .jumbotron{
    background: $rackley;
    box-shadow: 0px 0px 15px 0px rgba(0, 65, 60, 0.95);
  }

  .container-fluid{
    border-radius: 5px; 
    border: 10px solid rgba(0, 0, 0, 0.1);
  }
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
header.navbar.navbar-inverse.navbar-fixed-top{
  background-color: $black-leather-jacket
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $blanched-almond;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $blanched-almond;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

  /* grid */
  
$color_bon_jour_approx: #e1e1e1;
$seashell: #f1f1f1;
$color_mine_shaft_approx: #333;
$white: #fff;
$black_10: rgba(0, 0, 0, 0.1);
$color_suva_gray_approx: #888;
$color_mountain_mist_approx: #999;
$color_tapa_approx: #777;
$color_mustard_approx: #ffdb4d;
$color_cornflower_blue_approx: #5cadff;
$color_carnation_approx: #ff5353;
$color_shamrock_approx: #33d685;

  .wrapper {
    margin: 20px auto;
  }

  [class*="col-"] {
    margin-bottom: 20px;
    min-height: 30px;
    
    box-shadow: 0 3px 2px $black_10;
    text-align: center;
    padding: 20px;
  }

  @media all and(min-width: 500px) {
    .wrapper {
      padding: 0 0px;
      background-color: $color_bon_jour_approx;
      padding-top: 20px;
      border-radius: 5px;
    }
    /*
    .row {
      display: flex;
    }
    */
    [class*="col-"] {
      margin-right: 0px;
      &:last-child {
        margin-right: 0;
      }
    }

    .full-width {
      margin-bottom: 20px;
      margin-right: 0;
    }
    .space-off {
      margin-bottom: 0;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }