.order-body
  width: fit-content
  .jumbotron
    h4 
      padding-top: 5px
    padding-top: 2px !important
    padding-bottom: 2px !important
    input
      margin-right: 20px
    label
      padding-bottom: 10px
      padding-top: 10px
  // width: fit-content
  .form-inline
    .form-group
      padding-right: 20px
  .form-group
      padding-top: 10px
      padding-bottom: 10px
  #order_billing_region
    width: 100% !important