.center.jumbotron
  - if not user_signed_in?
    %h1 Welcome!!
    %p Sign in or create an account. 
    = link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary button is-warning"
  - else
    %h1 Shop

.container-fluid
  - @products.in_groups_of(4, false).each_with_index do |group, index|
    .row-fluid
      - group.each do |item|
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .card
            %img.card-img-top{:alt => "Card image cap", :src => item.image_url(:thumb)}
            .card-body
              %h5.card-title #{item.name}: #{number_to_currency(item.price)}
              %p.card-text #{item.description}
            %a.btn.btn-primary{:href => "#"} 
              %h5 Add to Cart!

